# Node.js
node_modules/
*.npmrc

# Logs
logs/
*.log
npm-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/

# Next.js specific
.next/
out/

# Build output
dist/

# Next.js cache
.cache/

# Webpack
webpack.config.js

# TypeScript build info
*.tsbuildinfo

# Environment variables
.env.local
.env*.local
